name: apisix ci

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.7.15'
        cache: 'pip'
        cache-dependency-path: 'src/apisix/requirements.txt'
    - name: Install dependencies
      run: pip install -r src/apisix/requirements.txt -i https://pypi.org/simple/
    - name: Change Edition
      run: make edition-ee
    - name: Build test image
      run: cd src/apisix && make apisix-test-image
    - name: Test
      run: make test RUN_WITH_IT=""
